body{$
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
  color: #005f87;
  background: #000000;
  /* linear-gradient( */
  /* rgba(68, 68, 68, 1), */
  /* rgba(0, 0, 0, 1) */
  /* ); */
  text-align: left;
  padding: 20px;
  border-style: solid;
}

.sidenav {
  color: #00afd7;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
