@import "parasiso-dark.css";

body{$
  text-align: left;
  padding: 2%;
  border-style: solid;
  position: relative;
  /* left: 0; */
  /* right: 50%; */
  white-space: -moz-pre-wrap !important;
  color: #005f87;
  background: #000000;
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
  overflow-wrap: break-word;
}

.sidenav {
  color: #005f87;
  height: 100%;
  width: 10%;
  border-style: solid;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 1%;
  text-align: center;
}
