@import "devibeans.css";

body {
  color: #005f87;
  background: #000000;
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
}

.article{$
  text-align: left;
  padding: 2%;
  border-style: solid;
  position: relative;
  white-space: -moz-pre-wrap !important;
  color: #005f87;
  background: #000000;
  font-family: "DejaVuSansMono NF", Helvetica, monospace;
  overflow-wrap: break-word;
  float: left;
  /* width: 78%; */
  width: 95%;
}

.sidenav {
  padding: 2%;
  color: #005f87;
  height: 100%;
  border-style: solid;
  position: relative;
  /* z-index: 0; */
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  text-align: left;
  float: right;
  width: 13%;
}

a {
  color: #005f87;
  text-decoration: none;
}

hr {
  color: #005f87;
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
}

a:link {
  color: #005faf;
}

a:visited {
  color: #008787;
}

pre {
  border: 2px solid #005f87;
  padding: 10px;
  margin: 10px;
}
