<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Blog</title>
    <link rel="stylesheet" href="/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/feed">
    <!-- <link rel="alternate" type="application/atom+xml" title="RSS" href="/feed/rss"> -->
  </head>
  <body>
    <!-- <script>0</script> -->
    <div class="article">
    <%- data.blogHttp %>
    <br/>
    <hr/>
    <br/>
    <a class="left-footer">Keywords: </a>
    <br/>
    <% data.keywords.forEach(function(keyword){ %>
        <ul>
        <li><a href=<%= "/tags/"+ keyword %> target="_self" rel="noreferrer noopener" type="text/html"><%= keyword %></a></li>
        </ul>
    <% }) %>
    <br/>
    <br/>
    <hr/>
    <br/>
    <a href="/archive" class="left-footer">Archive</a>
    <a href="/about" class="right-footer">About</a>
    <a class="right-footer">&nbsp&nbsp&nbsp</a>
    <a href="/rss/feed" class="right-footer">RSS</a>
    </div>
  </body>
</html>
